@using ITUniversity.Tasks.Entities
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["title"] = "Cписок задач";

}

@model ICollection<TaskBase>




<div class="card">    
    <div class="card-body">
        <table class="table table-borderless">
            @foreach (var task in Model)
            {
                <tr>
                    <td style="padding-left: 0px; padding-right: 0px;">
                        @await Html.PartialAsync("Task/RowDetails", task)
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-primary" style="float: right; cursor: pointer;" href="Task/Create">Добавить задачу</a>
        @*@Html.ActionLink("Добавить задачу", "Create", "Task", null, new { @class = "btn btn-primary" })*@

    </div>
</div>

@section scripts
{
    <script src="~/view-resources/task/scripts.js"></script>
}
