@using ITUniversity.Tasks.Application.Services.Dto

@model ICollection<TaskDto>




<div class="card">
    <div class="card-body">
        <table class="table table-borderless">
            @foreach (var task in Model)
            {
                <tr>
                    <td style="padding-left: 0px; padding-right: 0px;">
                        @await Html.PartialAsync("Task/RowDetails", task)
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-primary" style="float: right; cursor: pointer;" href="Task/Add">Добавить задачу</a>
        @*@Html.ActionLink("Добавить задачу", "Create", "Task", null, new { @class = "btn btn-primary" })*@

    </div>
</div>

@section scripts
{
    <script src="~/view-resources/task/scripts.js"></script>
}
